# 心臓の病気の予測
13列目が心臓病の予測になっている

モジュールのインポート

In [140]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
#import seaborn as sns
from scipy import stats

from scipy.stats import norm
#import seaborn as sns
#sns.set(context = 'paper', palette = 'winter_r', style = 'darkgrid', rc= {'figure.facecolor': 'gray',}, font_scale=1.5)

データの読み込み

In [141]:
def Readcsv(data):
    return (pd.read_csv(data, header=None, sep = ' '))

df = Readcsv('reprocessed.hungarian.data' )
df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='int64')

In [142]:
df.head()

   0   1   2    3    4   5   6    7   8    9   10  11  12  13
0  40   1   2  140  289   0   0  172   0  0.0  -9  -9  -9   0
1  49   0   3  160  180   0   0  156   0  1.0   2  -9  -9   1
2  37   1   2  130  283   0   1   98   0  0.0  -9  -9  -9   0
3  48   0   4  138  214   0   0  108   1  1.5   2  -9  -9   3
4  54   1   3  150   -9   0   0  122   0  0.0  -9  -9  -9   0

In [143]:
print(df.isnull())

        0      1      2      3      4      5      6      7      8      9   \
0    False  False  False  False  False  False  False  False  False  False
1    False  False  False  False  False  False  False  False  False  False
2    False  False  False  False  False  False  False  False  False  False
3    False  False  False  False  False  False  False  False  False  False
4    False  False  False  False  False  False  False  False  False  False
5    False  False  False  False  False  False  False  False  False  False
6    False  False  False  False  False  False  False  False  False  False
7    False  False  False  False  False  False  False  False  False  False
8    False  False  False  False  False  False  False  False  False  False
9    False  False  False  False  False  False  False  False  False  False
10   False  False  False  False  False  False  False  False  False  False
11   False  False  False  False  False  False  False  False  False  False
12   False  False  False  False  False  False  False  False  False  False
13   False  False  False  False  False  False  False  False  False  False
14   False  False  False  False  False  False  False  False  False  False
15   False  False  False  False  False  False  False  False  False  False
16   False  False  False  False  False  False  False  False  False  False
17   False  False  False  False  False  False  False  False  False  False
18   False  False  False  False  False  False  False  False  False  False
19   False  False  False  False  False  False  False  False  False  False
20   False  False  False  False  False  False  False  False  False  False
21   False  False  False  False  False  False  False  False  False  False
22   False  False  False  False  False  False  False  False  False  False
23   False  False  False  False  False  False  False  False  False  False
24   False  False  False  False  False  False  False  False  False  False
25   False  False  False  False  False  False  False  False  False  False
26   False  False  False  False  False  False  False  False  False  False
27   False  False  False  False  False  False  False  False  False  False
28   False  False  False  False  False  False  False  False  False  False
29   False  False  False  False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
264  False  False  False  False  False  False  False  False  False  False
265  False  False  False  False  False  False  False  False  False  False
266  False  False  False  False  False  False  False  False  False  False
267  False  False  False  False  False  False  False  False  False  False
268  False  False  False  False  False  False  False  False  False  False
269  False  False  False  False  False  False  False  False  False  False
270  False  False  False  False  False  False  False  False  False  False
271  False  False  False  False  False  False  False  False  False  False
272  False  False  False  False  False  False  False  False  False  False
273  False  False  False  False  False  False  False  False  False  False
274  False  False  False  False  False  False  False  False  False  False
275  False  False  False  False  False  False  False  False  False  False
276  False  False  False  False  False  False  False  False  False  False
277  False  False  False  False  False  False  False  False  False  False
278  False  False  False  False  False  False  False  False  False  False
279  False  False  False  False  False  False  False  False  False  False
280  False  False  False  False  False  False  False  False  False  False
281  False  False  False  False  False  False  False  False  False  False
282  False  False  False  False  False  False  False  False  False  False
283  False  False  False  False  False  False  False  False  False  False
284  False  False  False  False  False  False  False  False  False  False
285  False  False  False  False  False  False  False  False  False  False
286  False  False  False  False  False  False  False  False  False  False
287  False  False  False  False  False  False  False  False  False  False
288  False  False  False  False  False  False  False  False  False  False
289  False  False  False  False  False  False  False  False  False  False
290  False  False  False  False  False  False  False  False  False  False
291  False  False  False  False  False  False  False  False  False  False
292  False  False  False  False  False  False  False  False  False  False
293  False  False  False  False  False  False  False  False  False  False

        10     11     12     13
0    False  False  False  False
1    False  False  False  False
2    False  False  False  False
3    False  False  False  False
4    False  False  False  False
5    False  False  False  False
6    False  False  False  False
7    False  False  False  False
8    False  False  False  False
9    False  False  False  False
10   False  False  False  False
11   False  False  False  False
12   False  False  False  False
13   False  False  False  False
14   False  False  False  False
15   False  False  False  False
16   False  False  False  False
17   False  False  False  False
18   False  False  False  False
19   False  False  False  False
20   False  False  False  False
21   False  False  False  False
22   False  False  False  False
23   False  False  False  False
24   False  False  False  False
25   False  False  False  False
26   False  False  False  False
27   False  False  False  False
28   False  False  False  False
29   False  False  False  False
..     ...    ...    ...    ...
264  False  False  False  False
265  False  False  False  False
266  False  False  False  False
267  False  False  False  False
268  False  False  False  False
269  False  False  False  False
270  False  False  False  False
271  False  False  False  False
272  False  False  False  False
273  False  False  False  False
274  False  False  False  False
275  False  False  False  False
276  False  False  False  False
277  False  False  False  False
278  False  False  False  False
279  False  False  False  False
280  False  False  False  False
281  False  False  False  False
282  False  False  False  False
283  False  False  False  False
284  False  False  False  False
285  False  False  False  False
286  False  False  False  False
287  False  False  False  False
288  False  False  False  False
289  False  False  False  False
290  False  False  False  False
291  False  False  False  False
292  False  False  False  False
293  False  False  False  False

[294 rows x 14 columns]

train dataとtest dataの分割

In [144]:
df_train, df_test = train_test_split(df, test_size=0.33)

In [145]:
df_train.head()

     0   1   2    3    4   5   6    7   8    9   10  11  12  13
170  58   1   3  140  179   0   0  160   0  0.0  -9  -9  -9   0
95   58   1   4  130  263   0   0  140   1  2.0   2  -9  -9   2
21   44   1   2  120  184   0   0  142   0  1.0   2  -9  -9   0
272  32   0   2  105  198   0   0  165   0  0.0  -9  -9  -9   0
177  54   1   4  140  216   0   0  105   0  1.5   2  -9  -9   3

In [146]:
df_test.head()

     0   1   2    3    4   5   6    7   8    9   10  11  12  13
137  39   1   2  120   -9   0   1  146   0  2.0   1  -9  -9   0
205  56   1   2  130  184   0   0  100   0  0.0  -9  -9  -9   0
96   43   1   2  142  207   0   0  138   0  0.0  -9  -9  -9   0
180  46   0   4  130  238   0   0   90   0  0.0  -9  -9  -9   0
73   44   0   4  120  218   0   1  115   0  0.0  -9  -9  -9   0

In [147]:
X_train = df_train.drop([13], axis = 1)
X_train
y_train = df_train[13]

y_train
X_train.shape , y_train.shape

((196, 13), (196,))

## SVMでの予測

In [148]:
from sklearn import svm

clf = svm.SVC()
clf.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [149]:
X_test = df_test.drop([13], axis = 1)
X_test
y_test = df_test[13]

y_pred = clf.predict(X_test)
#print(y_test)
#print(y_train)

In [150]:
from sklearn.metrics import classification_report, accuracy_score
print (classification_report(y_test, y_pred))
print (accuracy_score(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.64      1.00      0.78        63
          1       0.00      0.00      0.00         7
          2       0.00      0.00      0.00        13
          3       0.00      0.00      0.00        10
          4       0.00      0.00      0.00         5

avg / total       0.41      0.64      0.50        98

0.6428571428571429

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

過学習を引き起こしていると考えられる

## データの0-1変換を行ってみる

https://qiita.com/umesaku/items/9f93973287b830a6d1b7

In [151]:
#前処理としてMinMaxScalerを用いる。まずはMinMaxScalerのインスタンスを作る。
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

In [152]:
#スケール変換機のfitメソッドにはデータ（X_train）のみを与え、y_trainは与えない。
scaler.fit(X_train)
scaler.fit(X_test)

#こんなアウトプット。特徴量のレンジが0~1になっている。
MinMaxScaler(copy=True, feature_range=(0, 1))

MinMaxScaler(copy=True, feature_range=(0, 1))

In [153]:
#データを変換
#重要！前処理ではscaler.fitメソッドとscaler.transformメソッドはセット！
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [154]:
#データの形式を調べよう。
print("transformed shape: {}".format(X_train_scaled.shape))
print("per-feature minimum before scaling:\n {}".format(X_train.min(axis=0)))
print("per-feature maximum before scaling:\n {}".format(X_train.max(axis=0)))
print("per-feature minimum after scaling:\n {}".format(
    X_train_scaled.min(axis=0)))
print("per-feature maximum after scaling:\n {}".format(
    X_train_scaled.max(axis=0)))

transformed shape: (196, 13)
per-feature minimum before scaling:
 0     29.0
1      0.0
2      1.0
3     92.0
4     -9.0
5     -9.0
6     -9.0
7     82.0
8      0.0
9      0.0
10    -9.0
11    -9.0
12    -9.0
dtype: float64
per-feature maximum before scaling:
 0      65.0
1       1.0
2       4.0
3     190.0
4     603.0
5       1.0
6       2.0
7     190.0
8       1.0
9       5.0
10      2.0
11      9.0
12      7.0
dtype: float64
per-feature minimum after scaling:
 [ 0.02631579  0.          0.          0.48325359  0.          0.
 -4.5         0.46192893  0.9         0.          0.          0.
  0.        ]
per-feature maximum after scaling:
 [0.97368421 1.         1.         0.95215311 1.28301887 1.
 1.         1.01015228 1.         1.66666667 0.91666667 2.
 1.        ]

In [155]:
clf.fit(X_train_scaled, y_train)
y_pred1 = clf.predict(X_test_scaled)

In [156]:
print (classification_report(y_test, y_pred1))
print (accuracy_score(y_test, y_pred1))

             precision    recall  f1-score   support

          0       0.71      0.97      0.82        63
          1       0.00      0.00      0.00         7
          2       0.00      0.00      0.00        13
          3       0.00      0.00      0.00        10
          4       0.00      0.00      0.00         5

avg / total       0.46      0.62      0.53        98

0.6224489795918368

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

精度が下がってしまった...。